:root {
  --background-color: #282c34;
  --text-color: white;
  --button-color: #61dafb;
}

body.light-mode {
  --background-color: white;
  --text-color: black;
  --button-color: #007bff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: monospace;
}

.App {
  text-align: center;
}

button {
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }

  .headerProfile img {
    max-width: 100px;
    max-height: 100px;
  }

  .profileInfo input {
    width: 100%;
  }

  .rightSideDetails {
    padding-left: 10px;
  }
}
