* {
    color: white;
}

a {
    text-decoration: none;
}

/* Header */
.headerComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.headerComp img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.right a {
    margin: 5px 0;
}

.profileLogo {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cmpBtn {
    border: none;
    padding-left: 0;
}

/* Content */
.contentCompiler {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

h1, h3 {
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
}

p {
    margin: 5px;
    font-size: 0.8rem;
}

.Comp {
    min-width: 100%;
    padding-top: 10px;
    padding-left: 0;
    height: 100%;
}

.firstTop {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.actionButtons {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.runButton, .submitButton {
    border: none;
    border-radius: 7px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    width: 48%;
    height: 31.6px;
    font-size: 0.8rem;
}

.runButton:hover, .submitButton:hover {
    opacity: 0.8;
}

.firstTop a {
    margin-right: 0;
    margin-bottom: 5px;
}

.ProblemDesc {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

/* Dropdown */
.dropdown select {
    padding: 5px;
    font-size: 1rem;
}

.dropdown select:focus {
    outline: none;
}

.dropdown select option {
    font-size: 0.8rem;
}

/* --- CODE EDITOR ---  */

.codeEditor, .manualTestCaseInput, .outputBox {
    margin-bottom: 10px;
}

.codeInput, .manualTestCase, .outputDisplay {
    width: 100%;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    font-size: 0.8rem;
    background-color: #333;
}

.codeEditor .codeInput {
    height: auto;
}

.manualTestCase {
    height: 100px;
}

.outputDisplay {
    height: 100px;
    background-color: #444;
}

@media screen and (max-width: 600px) {
    h1, h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.6rem;
    }

    .dropdown select {
        font-size: 0.8rem;
    }

    .dropdown select option {
        font-size: 0.6rem;
    }

    .codeInput, .manualTestCase, .outputDisplay {
        font-size: 0.6rem;
    }
}
