/* HomePage.css */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 100vh; 
    background-color: var(--background-color); 
    overflow: hidden;
}


.contentHome, .contentHome h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0;
    max-width: 90%;
    background-color: var(--background-color);
    color: var(--text-color);
}
.contentHome p{
    color: var(--text-color);
}
.btnhome {
    border-radius: 7px;
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 10px;
    transition: transform 0.3s;
    cursor: pointer;
    color: var(--text-color);
}

.btnhome:hover {
    transform: translateY(-3px);
}

.signin {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.login {
    margin-top: 0;
    background-color: var(--textbox-bg-color);
    color: var(--text-color);
}

.checking {
    color: var(--text-color);
    padding: 10px;
}

p {
    font-size: 15px;
}

@media (min-width: 768px) {
    .contentHome {
        max-width: 400px;
    }
}