*{
    background-color: #121417;
}
.header{
    padding: 10px;
    /* margin: 10px; */
    text-align: left;
    border-bottom: 1px solid white;
}

.header img{
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 5px auto 0; /* TOP RIGHT BOTTOM LEFT */
    width: 80%;
    max-width: 400px;
}

h2{
    text-align: center;
    width: 400px;
    margin-bottom: 2px;
}
input{
    background-color: #1C2126;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    border: none;
    color: white;
    text-align: center;
}

.loginPg{
    margin-top: 20px;
    background-color: #1A80E5;
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    transition: transform 1s;
}
.loginPg:hover{
    transform: translateY(-3px);
}
.boxes{
    /* padding-left: 130px;
    padding-right: 130px; */
    text-align: left;
}

.last{
    color: #ffff;
    text-decoration: none;
}

.google{
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 10px;
    transition: transform 1s;
    background-color: #293038;
}

.google:hover{
    transform: translateY(-3px);
}
.checking{
    text-align: center;
}
.boxes h5{
    margin-bottom: 4px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google-logo {
    width: 30px;
    height: 30px;
    /* margin-right: 5px; add some space between image and text */
    background-color: transparent;
    margin-top: 5px;
  }
  
  /* .google span {
    font-size: 16px; /* adjust font size to your liking 
  } */
/* -------------- GOOGLE ---------------  */
.gsi-material-button {
    background-color: #131314;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #e3e3e3;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 115px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    border-color: #8e918f;
  }
  
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: white;
    opacity: 2%;
  }
  