.split {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.dashboard {
    min-height: auto;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    border-bottom: 1px solid white;
    transition: height 0.3s;
    overflow: hidden;
}

.dashboard.minimized {
    height: 50px;
}

.dashboard .btnPrb img {
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding-right: 5px;
}

.dashboard.minimized .btnPrb img {
    padding-right: 0;
}

.dashboard .btnPrb {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.dashboard.minimized .btnPrb {
    justify-content: center;
    margin-bottom: 0;
}

.dashboard .btnPrb span {
    display: inline;
}

.dashboard.minimized .btnPrb span {
    display: none;
}

.btnPrb {
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.prbRightSide {
    width: 100%;
    margin-right: 0;
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.inpPrb {
    background-color: #1C2126;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.PrbTagsBtn {
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100px;
    margin: 4px;
    background-color: #1C2126;
    border: none;
}

.list table {
    width: 100%;
    border-collapse: collapse;
}

.list th, .list td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.prbTitle {
    text-align: left;
}

.list th {
    background-color: #1C2126;
}

@media screen and (max-width: 600px) {
    .dashboard {
        width: 100%;
        height: auto;
    }

    .dashboard.minimized {
        height: 50px;
    }

    .dashboard .btnPrb {
        font-size: 0.8rem;
    }

    .search {
        flex-direction: column;
        align-items: center;
    }

    .inpPrb {
        width: 100%;
        margin-top: 10px;
    }

    .tags {
        justify-content: center;
    }

    .PrbTagsBtn {
        width: 45%;
        margin: 2%;
    }

    .list th, .list td {
        font-size: 0.8rem;
    }
}
