/* HEADERS */
.headerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.headerProfile img {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

.headerProfile .navProfile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

.profileInfo h2, .solvedProblems h2 {
    text-align: left;
    margin: 5px;
    margin-top: 20px;
    font-size: 1.2rem;
}

/* ------- LEFT ------  */
.leftSideDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSideDetails h2 {
    text-align: left;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.profilePicture {
    align-items: center;
    text-align: center;
    padding-right: 0;
    padding-top: 20px;
}

.profilePicture img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* --------- OPERATAIONS ----------  */
.leftSideDetails button {
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 0.8rem;
}

.profileInfo {
    width: 100%;
}

.profileInfo input {
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 0.8rem;
}

/* -------- RIGHT --------  */
.rightSideDetails {
    border-left: none;
    border-top: 1px solid white;
    min-height: auto;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
}

.rightSideDetails h2 {
    margin-top: 20px;
    font-size: 1rem;
}

/* -------- SOLVED PROBLEMS TABLE -------- */
.solvedProblems table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.8rem;
}

.solvedProblems th,
.solvedProblems td {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
}

.solvedProblems td a {
    background-color: transparent;
    color: white;
}

.solvedProblems th {
    background-color: #282c34;
    color: white;
}

.solvedProblems td {
    background-color: #282c34;
    color: white;
}

.solvedProblems a {
    color: none;
    text-decoration: none;
}

.solvedProblems a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .headerProfile img {
        max-width: 80px;
        max-height: 80px;
    }

    .profileInfo h2, .solvedProblems h2 {
        font-size: 1rem;
    }

    .leftSideDetails h2 {
        font-size: 0.8rem;
    }

    .profilePicture img {
        width: 50px;
        height: 50px;
    }

    .leftSideDetails button {
        font-size: 0.6rem;
    }

    .profileInfo input {
        font-size: 0.6rem;
    }

    .rightSideDetails h2 {
        font-size: 0.8rem;
    }

    .solvedProblems table {
        font-size: 0.6rem;
    }
}
