.details{
    display: flex;
    padding: 30px;
    padding-top: 0;
}
.profileInfo h2, .solvedProblems h2{
    text-align: left;
    margin: 5px;
    margin-top: 30px;
}

/* --------- OPERATAIONS ----------  */

.leftSideDetails button{
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.green{
    background-color: rgb(10, 234, 28);
}

.red{
    background-color: red;
}
.profileInfo, .profileInfo p, strong{
    width: 320px;
    color: var(--text-color);
}

.profileInfo input{
    padding: 5px;
    margin: 5px;
    width: 300px;
}

/* -------- RIGHT --------  */
.rightSideDetails{
    border-left: solid var(--text-color) 1px;
    min-height: 100vh;
    width: 100%;
    padding-left: 30px;
}

.rightSideDetails h2{
    margin-top: 20px;
}

/* -------- SOLVED PROBLEMS TABLE -------- */
.solvedProblems table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .solvedProblems th,
  .solvedProblems td {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
  }
  .solvedProblems td a{
    background-color: transparent; 
    color: var(--text-color);
  }
  .solvedProblems th {
    background-color: var(--table-head-bg-color);
    color: var(--text-color);
  }
  
  .solvedProblems td {
    background-color: var(--textbox-bg-color);
    color: var(--text-color);
  }
  
  .solvedProblems a {
    color: none;
    text-decoration: none;
  }
  
  .solvedProblems a:hover {
    text-decoration: underline;
  }

  strong{
    width: auto;
  }

  .showUser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.showUser p {
    margin: 0;
    padding: 5px 0;
    text-align: left;
}

.accountActions {
    display: flex;
    gap: 10px;
}
