.split {
    display: flex;
    color: #FFFFFF;
}

.dashboard{
    min-height: 100%;
    width: 200px;
    text-align: left;
    margin: 10px;
    border-right: 1px solid white;
}

.dashboard .btnPrb img{
    width: 30px;
    height: 30px;
    background-color: transparent;
    padding-right: 5px;
}
.dashboard .btnPrb{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.btnPrb{
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    border: none;
}

.rightSide{
    width: 100%;
    margin-right: 10px;
}

.search{
    display: flex;
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.inpPrb{
    background-color: #1C2126;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    border: none;
    color: white;
    text-align: center;
    margin-right: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.PrbTagsBtn{
    border-radius: 7px;
    color: #FFFFFF;
    height: 50px;
    width: 100px;
    /* flex: 1; */
    margin: 4px;
    background-color: #1C2126;
    border: none;
}
  
  .list table {
    width: 100%; /* Take the whole horizontal space */
    border-collapse: collapse; /* Merge border of adjacent cells */
  }
  
  .list th, .list td {
    border: 1px solid black; /* Add borders to table cells */
    padding: 10px; /* Add padding to table cells */
    text-align: center; /* Align text to the left within table cells */
  }
  
  .list th {
    background-color: #1C2126;
  }
  